@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;

    /* to hide scrollbar in brower */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    font-family: "Raleway", sans-serif;

}

/* to hide scrollbar in brower */
::-webkit-scrollbar {
    display: none;
}